extends layout

block content

  div.row
    div.col.col-sm-12.col-lg-6(style='border: 1px solid red;')
      h1= title
      p Welcome to #{title}

    div.col.col-sm-12.col-lg-6(style='border: 1px solid red;')
      h1= title
      p Welcome to #{title}

    div.col.col-sm-12.col-lg-6(style='border: 1px solid red;')
      h1= title
      p Welcome to #{title}

    div.col.col-sm-12.col-lg-6(style='border: 1px solid red;')
      h1= title
      p Welcome to #{title}

    div.col.col-sm-12.col-lg-6(style='border: 1px solid red;')
      h1= title
      p Welcome to #{title}

    div.col.col-sm-12.col-lg-6(style='border: 1px solid red;')
      h1= title
      p Welcome to #{title}